* {
  font-family: "Mulish", sans-serif;
  /* Katuo ka font lgra h bc */
  margin: 0;
  padding: 0;
}

#G {
  color: #4285f4;
}

#o {
  color: #ea4335;
}

#o2 {
  color: #fbbc04;
}

#g {
  color: #4285f4;
}

#l {
  color: #0f9d58;
}

#e {
  color: #ea4335;
}

a.apply,
button.apply {
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  background: #4285f4;
}

a {
  text-decoration: none;
}

.Header {
  padding: 2% 15%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.Header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20%;
  margin-left: -6%;
}

.Header .links .link {
  cursor: pointer;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #1f1534;
  opacity: 50%;
}

.Header .links .selected {
  color: #1f1534;
  opacity: 100%;
  font-weight: bold;
}

.Footer {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #4285f4;
  color: #fff;
}

.Footer .left img {
  margin-bottom: 5%;
}

.Footer .left .copyright {
  font-weight: 100;
}

.Footer .right {
  width: 20%;
}

.Footer .right h3 {
  font-size: 20px;
  font-weight: bold;
}

.Footer .right .links {
  padding: 8% 0;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  grid-gap: 25%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Footer .right .links a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.Home {
  background-position: 0 1%;
}

.Home .circle-grid {
  position: absolute;
  left: -3vw;
  top: 20vh;
}

.Home .container {
  margin: 0 15%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Home .container .right {
  padding-left: 10%;
}

.Home .container .right img {
  width: 30vw;
}

.Home .container .left {
  width: 50%;
}

.Home .container .left h2 {
  font-size: 45px;
}

.Home .container .left .landing-img-resp {
  display: none;
}

.Home .container .left .left-para {
  font-size: 20px;
  margin-top: 17px;
  line-height: 30px;
  font-weight: 300;
  opacity: 50%;
}

.Home .container .left-button .btn {
  background-color: #4285f4;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 55px;
  margin: 7vh 2px;
  font-size: 20px;
}

.Home .container .left-button .btn h4 {
  font-size: 20px;
  font-weight: 500;
}

.Home .cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.Home .container2 {
  margin: 10% 15%;
}

.Home .container2 .home-bg2 {
  position: absolute;
  left: 0%;
  top: 117vh;
}

.Home .container2 .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home .container2 .head h2 {
  border-bottom: solid 2px #1f1534;
  padding: 15px;
  width: 25px;
}

.Home .container2 .head p {
  font-size: 18px;
  margin: 4% 0;
  line-height: 30px;
  font-weight: 300;
  opacity: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Home .container2 .cards {
  margin-top: 4%;
}

.Home .container2 .cards .card {
  background: #fff;
  min-width: 25%;
  padding: 40px;
  border-radius: 20px;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
}

.Home .container2 .cards .card .icon img {
  margin: 6% 0;
  max-width: 90%;
  z-index: -1;
}

.Home .container2 .cards .card .data h2 {
  font-weight: bold;
  margin: 6% 0;
  line-height: 30px;
}

.Home .container2 .cards .card .data p {
  opacity: 50%;
  line-height: 30px;
  margin-bottom: 10px;
}

.Home .container3 {
  margin: 10% 15%;
}

.Home .container3 .head {
  margin: 8% 0;
}

.Home .container3 .head h2 {
  border-bottom: solid 2px #1f1534;
  padding: 15px;
  width: 25px;
}

.Home .container3 .dot-grid {
  position: absolute;
  top: 285vh;
  left: 12%;
}

.Home .container3 .cards .card {
  background: #fff;
  border-radius: 20px;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
}

.Home .container3 .cards .data {
  padding: 8%;
}

.Home .container3 .cards .data h2 {
  font-size: 21px;
  letter-spacing: 0.2px;
  line-height: 30px;
  font-weight: bold;
}

.Home .container3 .cards .data p {
  margin: 5% 0 8% 0;
  opacity: 50%;
  width: 80%;
  line-height: 30px;
}

.Home .container3 .cards .data a {
  color: #4285f4;
  font-weight: 600;
}

.Home .container3 .cards .data a img {
  margin-left: 8px;
}

.Home .container3 .bubble2 {
  position: absolute;
  top: 280vh;
  height: 90%;
  right: 0;
}

.Home .container3 .view-all {
  margin: 8% 0;
}

.Home .container3 .view-all button {
  background-color: #4285f4;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 55px;
  margin: 7vh 2px;
  font-size: 20px;
  background: #fff;
  border: solid 2px #4285f4;
  color: #4285f4;
  margin: 0;
}

.Home .container3 .view-all button h4 {
  font-size: 20px;
  font-weight: 500;
}

.Home .container3 .view-all button h4 {
  font-weight: bold;
}

.Home .container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10% 15%;
}

.Home .container4 .left .head h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 5% 0 1% 0;
}

.Home .container4 .left .head h3 {
  font-weight: bold;
  font-size: 22px;
  color: #4285f4;
}

.Home .container4 .left .head h4 {
  border-bottom: solid 2px #1f1534;
  padding: 15px;
  width: 25px;
}

.Home .container4 .left .bottom p {
  margin: 5% 0;
  font-size: 18px;
  width: 70%;
  line-height: 30px;
  opacity: 50%;
}

.Home .container4 .left .bottom button {
  background-color: #4285f4;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 55px;
  margin: 7vh 2px;
  font-size: 20px;
  background: #fff;
  color: #4285f4;
  border: solid 2px #4285f4;
}

.Home .container4 .left .bottom button h4 {
  font-size: 20px;
  font-weight: 500;
}

.Home .container5 {
  padding: 10% 15%;
  color: #fff;
}

.Home .container5 .bg-topright {
  position: absolute;
  top: relative;
  margin-top: -3%;
  right: 12%;
  z-index: -1;
}

.Home .container5 .bg-bottomleft {
  position: absolute;
  top: relative;
  margin-top: -5%;
  left: 12%;
  z-index: -1;
}

.Home .container5 .info-card {
  padding: 5% 0;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 25px;
}

.Home .container5 .info-card .head h4 {
  border-bottom: solid 2px #1f1534;
  padding: 15px;
  width: 25px;
  border-bottom: solid 2px #fff;
}

.Home .container5 .info-card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5% 12% 1% 12%;
}

.Home .container5 .info-card .bottom .avatar {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 6%;
}

.Home .container5 .info-card .bottom .avatar img {
  border-radius: 50%;
  border: solid 5px #fff;
}

.Home .container5 .info-card .bottom .avatar .designation h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.Home .container5 .info-card .bottom .avatar .designation h5 {
  font-size: 18px;
  font-weight: 100;
}

.Home .container5 .info-card .bottom .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.Home .container5 .navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
}

.Home .container5 .navigate .back-arrow {
  opacity: 50%;
}

.Home .container5 .navigate .slider {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10%;
}

.Home .container5 .navigate .slider .dot {
  width: 10px;
  height: 10px;
  background: #4285f4;
  border-radius: 50%;
  opacity: 40%;
}

.Home .container5 .navigate .slider .selected {
  opacity: 100%;
}

.Slider {
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
}

.Slider button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: white;
  color: #4285f4;
  cursor: pointer;
}

.Slider .middle {
  border-radius: 0px;
}

.Slider .left {
  border-radius: 20px 0px 0px 20px;
}

.Slider .right {
  border-radius: 0px 20px 20px 0px;
}

.Slider .selected {
  color: white;
  background: #4285f4;
}

.Content .heading {
  font-size: 32px;
}

.Content .content ul {
  list-style-type: none;
  font-size: 22px;
  text-align: left;
}

.Content .content ul li .explain {
  font-size: 18px;
  margin-left: 40px;
}

.RedirectLinks {
  background-repeat: repeat;
  background-size: cover;
  padding-top: 30px;
}

.RedirectLinks .container {
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.RedirectLinks .top {
  width: 100%;
}

.RedirectLinks .top h1 {
  color: #4285f4;
  font-size: 3rem;
}

.RedirectLinks .top h3 {
  color: #474747;
  margin-top: 15px;
}

.RedirectLinks section {
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  width: 100%;
  background: white;
  border-radius: 40px;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.RedirectLinks article p {
  margin-top: 15px;
  margin-right: 30%;
  color: #474747;
}

.RedirectLinks article h4 {
  color: #4285f4;
}

.RedirectLinks article h4:first-of-type {
  color: #0f9d58;
  margin-top: 10px;
}

.RedirectLinks article button {
  margin-top: 15px;
}

.RedirectLinks article button:disabled {
  cursor: not-allowed;
  color: #a2c3fa;
}

.RedirectLinks article .help {
  width: 50%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebf2fe;
  border-radius: 20px;
  border: solid 1px #4285f4;
  padding: 20px;
}

.RedirectLinks article .help img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.RedirectLinks aside img {
  width: 100%;
}

.RedirectLinks .links {
  margin-top: 30px;
  border-radius: 40px;
  display: -ms-grid;
  display: grid;
  padding: 20px 50px 10px 50px;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.RedirectLinks .links .link {
  margin-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RedirectLinks .links .link .name {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .Header {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 4% 0 5% 0;
  }
  .Header .logo {
    margin-bottom: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Header .links {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 15%;
  }
  .Home .circle-grid {
    position: absolute;
    left: -12%;
    z-index: -10;
    opacity: 80%;
    height: 100px;
  }
  .Home .container {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }
  .Home .container .landing-img {
    display: none;
  }
  .Home .container .left {
    margin: 8% 0;
    text-align: center;
    width: 80%;
  }
  .Home .container .left .landing-img-resp {
    display: block;
    width: 70vw;
    margin: 15% 0;
    margin-bottom: 15%;
  }
  .Home .container .left .left-head h2 {
    width: 100%;
    font-size: 35px;
  }
  .Home .container2 .home-bg2 {
    top: 140vh;
    height: 500px;
    width: 100%;
  }
  .Home .container2 .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .container3 .dot-grid {
    top: 482vh;
    left: 3%;
  }
  .Home .container3 .head {
    margin-bottom: 20%;
  }
  .Home .container3 .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .container3 .cards .card {
    width: 100%;
  }
  .Home .container3 .cards .card .card-img {
    width: 100%;
  }
  .Home .container3 .bubble2 {
    width: 100%;
    margin-left: -20px;
  }
  .Home .container4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .container4 img {
    position: absolute;
    top: relative;
    margin-top: -120%;
    z-index: -20;
    left: 0;
    opacity: 40%;
    width: 100%;
  }
  .Home .container5 {
    padding: 10%;
  }
  .Home .container5 .bg-topright {
    margin-top: -9%;
    margin-right: -12%;
  }
  .Home .container5 .bg-bottomleft {
    margin-top: -20%;
    margin-left: -12%;
  }
  .Home .container5 .info-card .head {
    margin: 8%;
    font-size: 12px;
  }
  .Home .container5 .info-card .head h4 {
    padding: 4%;
  }
  .Home .container5 .info-card .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .container5 .info-card .bottom .avatar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .Home .container5 .info-card .bottom .avatar img {
    height: 100px;
  }
  .Home .container5 .info-card .bottom .avatar .designation {
    margin: 5% 0;
    margin-bottom: 0;
  }
  .Home .container5 .info-card .bottom .quote {
    text-align: center;
    margin: 10% 0;
    width: 100%;
  }
  .Home .container5 .navigate {
    margin: 20% 0;
  }
  .Home .container5 .navigate .slider {
    width: 35%;
  }
  .Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10% 5% 0 5%;
  }
  .Footer .left img {
    width: 100%;
  }
  .Footer .left .copyright {
    font-size: 18px;
    width: 95%;
    margin: auto;
  }
  .Footer .right {
    margin: 10% auto;
    width: 100%;
  }
  .Footer .right .links {
    padding: 0;
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 8%;
  }
  .Footer .right .links a {
    font-weight: 300;
  }
}
/*# sourceMappingURL=index.css.map */