@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

* {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
}

#G {
  color: #4285f4;
}

#o {
  color: #ea4335;
}

#o2 {
  color: #fbbc04;
}

#g {
  color: #4285f4;
}

#l {
  color: #0f9d58;
}

#e {
  color: #ea4335;
}

a.apply,
button.apply {
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  background: #4285f4;
}

a {
  text-decoration: none;
}

.Header {
  padding: 10px 15%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
}

.Header .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Header .links .link {
  cursor: pointer;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Header .links .selected {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.Footer {
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Join {
  background: no-repeat url("./assets/vectors/back2.svg");
  background-size: cover;
}

.Join section {
  max-width: 500px;
  background: white;
  padding: 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Join section h1,
.Join section h3 {
  color: #363636;
}

.Join section h1 {
  text-align: center;
}

.Join section h3 {
  margin: 10px 0;
}

.Join section p {
  color: #474747;
  margin-bottom: 20px;
}

.Join section .and {
  margin: 5px 0;
  text-align: center;
  font-weight: 600;
}

.Join section .bar {
  margin-bottom: 20px;
}

.Join section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Join section .bar-bottom {
  margin-top: 20px;
}

.Join section .enjoy {
  text-align: center;
}

.Join section .enjoy h3 {
  margin: 0;
}

.Join .help {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #feebb4;
  border-radius: 20px;
  border: solid 1px #fbbc04;
  padding: 20px;
}

.Join .help img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.Join .help .link {
  margin-top: 2px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-bottom: dotted 2px #fbbc04;
}

.Join .help a {
  color: #c99603;
}

.Home {
  background: no-repeat url("./assets/vectors/back2.svg");
  background-size: cover;
}

.Home .container {
  margin: 0 15%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home section {
  background: white;
  padding: 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home section .content {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #474747;
}

.Home section .content img {
  display: inline-block;
  height: 20px;
}

.Home section .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.Home section .register .text {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  color: #0f9d58;
}

.Register .container {
  margin: 10px 15%;
}

.Register .container .heading {
  margin-top: 30px;
  font-size: 28px;
}

.Register .container .sub-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.Register .container .section {
  margin: 30px 0;
}

.Register .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Register .container .card {
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  padding: 30px;
  width: 30%;
  border-radius: 20px;
  margin: 10px;
}

.Register .container .card .card-head {
  font-size: 22px;
  margin-bottom: 10px;
}

.Register .container .card .card-body {
  color: #363636;
  margin-bottom: 15px;
}

.Register .container .card .card-body .role {
  margin-top: 10px;
  margin-bottom: 30px;
}

.Register .container .card .alert {
  padding: 15px;
  border-radius: 20px;
  background: #fbd9d7;
  text-align: center;
  color: #ea4335;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.bar .bar1 {
  background: #4285f4;
  width: 100px;
  height: 3px;
  border-radius: 100px;
}

.bar .bar2 {
  background: #ea4335;
  margin-left: 3px;
  width: 30px;
  height: 3px;
  border-radius: 100px;
}

.bar .bar3 {
  background: #fbbc04;
  margin-left: 3px;
  width: 10px;
  height: 3px;
  border-radius: 100px;
}

.Slider {
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
}

.Slider button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: white;
  color: #4285f4;
  cursor: pointer;
}

.Slider .middle {
  border-radius: 0px;
}

.Slider .left {
  border-radius: 20px 0px 0px 20px;
}

.Slider .right {
  border-radius: 0px 20px 20px 0px;
}

.Slider .selected {
  color: white;
  background: #4285f4;
}

.Content .heading {
  font-size: 32px;
}

.Content .content ul {
  list-style-type: none;
  font-size: 22px;
  text-align: left;
}

.Content .content ul li .explain {
  font-size: 18px;
  margin-left: 40px;
}

.RedirectLinks {
  background: url("./assets/vectors/bg.png");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 30px;
}

.RedirectLinks .container {
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.RedirectLinks .top {
  width: 100%;
}

.RedirectLinks .top h1 {
  color: #4285f4;
  font-size: 3rem;
}

.RedirectLinks .top h3 {
  color: #474747;
  margin-top: 15px;
}

.RedirectLinks section {
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  width: 100%;
  background: white;
  border-radius: 40px;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.RedirectLinks article p {
  margin-top: 15px;
  margin-right: 30%;
  color: #474747;
}

.RedirectLinks article h4 {
  color: #4285f4;
}

.RedirectLinks article h4:first-of-type {
  color: #0f9d58;
  margin-top: 10px;
}

.RedirectLinks article button {
  margin-top: 15px;
}

.RedirectLinks article button:disabled {
  cursor: not-allowed;
  color: #a2c3fa;
}

.RedirectLinks article .help {
  width: 50%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebf2fe;
  border-radius: 20px;
  border: solid 1px #4285f4;
  padding: 20px;
}

.RedirectLinks article .help img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.RedirectLinks aside img {
  width: 100%;
}

.RedirectLinks .links {
  margin-top: 30px;
  border-radius: 40px;
  display: -ms-grid;
  display: grid;
  padding: 20px 50px 10px 50px;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.RedirectLinks .links .link {
  margin-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RedirectLinks .links .link .name {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .Header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px 10%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .Header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Header .links {
    margin-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .Join .container {
    margin: 0 10px;
  }
  .Home .container {
    margin: 0;
  }
  .Home img {
    height: 120px;
  }
  .Register .container {
    margin: 10px 7%;
  }
  .Register .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Register .cards .card {
    width: 100%;
  }
  .Content .heading {
    font-size: 20px;
  }
  .Content .content ul {
    list-style-type: none;
    font-size: 16px;
    text-align: left;
  }
  .Content .content ul li .explain {
    font-size: 14px;
    margin-left: 40px;
  }
  .RedirectLinks h1 {
    font-size: 2.5rem !important;
  }
  .RedirectLinks section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .RedirectLinks section aside {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: 50px;
  }
  .RedirectLinks section aside img {
    width: 90%;
  }
  .RedirectLinks section article .help {
    width: 85% !important;
  }
  .RedirectLinks section article p {
    margin-right: 0;
  }
  .RedirectLinks .top {
    margin-top: 50px;
  }
  .RedirectLinks .links {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=index.css.map */