* {
  font-family: "Mulish", sans-serif; /* Katuo ka font lgra h bc */
  margin: 0;
  padding: 0;
}

$green: #0f9d58;
$blue: #4285f4;
$yellow: #fbbc04;
$red: #ea4335;
$black: #1f1534;

#G {
  color: $blue;
}
#o {
  color: $red;
}
#o2 {
  color: $yellow;
}
#g {
  color: $blue;
}
#l {
  color: $green;
}
#e {
  color: $red;
}

// Mixins
@mixin btn-format {
  background-color: $blue;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 55px;
  margin: 7vh 2px;
  font-size: 20px;

  h4 {
    font-size: 20px;
    font-weight: 500;
  }
}

@mixin underscore {
  border-bottom: solid 2px #1f1534;
  padding: 15px;
  width: 25px;
}

//Common
a.apply,
button.apply {
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  background: $blue;
}

a {
  text-decoration: none;
}

//Main

.Header {
  padding: 2% 15%;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  .links {
    display: flex;
    grid-gap: 20%;
    margin-left: -6%;
    .link {
      cursor: pointer;
      max-width: max-content;
      user-select: none;
      color: $black;
      opacity: 50%;
    }
    .selected {
      color: $black;
      opacity: 100%;
      font-weight: bold;
    }
  }
}

.Footer {
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
  background: $blue;
  color: #fff;

  .left {
    img {
      margin-bottom: 5%;
    }
    .copyright {
      font-weight: 100;
    }
  }

  .right {
    width: 20%;
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
    .links {
      padding: 8% 0;
      font-size: 18px;
      display: grid;
      grid-gap: 25%;
      grid-template-columns: repeat(2, 1fr);
      a {
        text-decoration: none;
        color: white;
        font-weight: 100;
      }
    }
  }
}

.Home {
  background-position: 0 1%;
  .circle-grid {
    position: absolute;
    left: -3vw;
    top: 20vh;
  }
  .container {
    margin: 0 15%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: row;

    .right {
      padding-left: 10%;
      img {
        width: 30vw;
      }
    }

    .left {
      width: 50%;

      h2 {
        font-size: 45px;
      }

      .landing-img-resp {
        display: none;
      }

      .left-para {
        font-size: 20px;
        margin-top: 17px;
        line-height: 30px;
        font-weight: 300;
        opacity: 50%;
      }
    }

    .left-button {
      .btn {
        @include btn-format;
      }
    }
  }

  .cards {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  .container2 {
    margin: 10% 15%;

    .home-bg2 {
      position: absolute;
      left: 0%;
      top: 117vh;
    }
    .head {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        @include underscore;
      }

      p {
        font-size: 18px;
        margin: 4% 0;
        line-height: 30px;
        font-weight: 300;
        opacity: 50%;
        align-content: center;
      }
    }

    .cards {
      margin-top: 4%;
      .card {
        background: #fff;
        min-width: 25%;
        padding: 40px;
        border-radius: 20px;
        z-index: 99;
        box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
        .icon {
          img {
            margin: 6% 0;
            max-width: 90%;
            z-index: -1;
          }
        }

        .data {
          h2 {
            font-weight: bold;
            margin: 6% 0;
            line-height: 30px;
          }

          p {
            opacity: 50%;
            line-height: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .container3 {
    margin: 10% 15%;
    .head {
      margin: 8% 0;
      h2 {
        @include underscore;
      }
    }

    .dot-grid {
      position: absolute;
      top: 285vh;
      left: 12%;
    }

    .cards {
      .card {
        background: #fff;
        border-radius: 20px;
        z-index: 99;
        box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
      }

      .data {
        padding: 8%;
        h2 {
          font-size: 21px;
          letter-spacing: 0.2px;
          line-height: 30px;
          font-weight: bold;
        }
        p {
          margin: 5% 0 8% 0;
          opacity: 50%;
          width: 80%;
          line-height: 30px;
        }
        a {
          color: $blue;
          font-weight: 600;
          img {
            margin-left: 8px;
          }
        }
      }
    }

    .bubble2 {
      position: absolute;
      top: 280vh;
      height: 90%;
      right: 0;
    }

    .view-all {
      margin: 8% 0;
      button {
        @include btn-format;
        background: #fff;
        border: solid 2px $blue;
        color: $blue;
        margin: 0;
        h4 {
          font-weight: bold;
        }
      }
    }
  }

  .container4 {
    display: flex;
    flex-direction: row;
    padding: 10% 15%;
    .left {
      .head {
        h1 {
          font-size: 40px;
          font-weight: bold;
          margin: 5% 0 1% 0;
        }
        h3 {
          font-weight: bold;
          font-size: 22px;
          color: $blue;
        }
        h4 {
          @include underscore;
        }
      }

      .bottom {
        p {
          margin: 5% 0;
          font-size: 18px;
          width: 70%;
          line-height: 30px;
          opacity: 50%;
        }

        button {
          @include btn-format;
          background: #fff;
          color: $blue;
          border: solid 2px $blue;
        }
      }
    }
  }

  .container5 {
    padding: 10% 15%;
    color: #fff;

    .bg-topright {
      position: absolute;
      top: relative;
      margin-top: -3%;
      right: 12%;
      z-index: -1;
    }

    .bg-bottomleft {
      position: absolute;
      top: relative;
      margin-top: -5%;
      left: 12%;
      z-index: -1;
    }

    .info-card {
      padding: 5% 0;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 25px;
      .head {
        h4 {
          @include underscore;
          border-bottom: solid 2px #fff;
        }
      }
      .bottom {
        display: flex;
        flex-direction: row;
        padding: 5% 12% 1% 12%;
        .avatar {
          width: 40%;
          display: flex;
          flex-direction: row;
          align-items: center;
          grid-gap: 6%;
          img {
            border-radius: 50%;
            border: solid 5px #fff;
          }
          .designation {
            h2 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            h5 {
              font-size: 18px;
              font-weight: 100;
            }
          }
        }
        .quote {
          display: flex;
          width: 45%;
          align-items: center;
          margin-left: 15%;
          font-size: 18px;
          font-weight: 200;
          line-height: 30px;
        }
      }
    }

    .navigate {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 0;
      .back-arrow {
        opacity: 50%;
      }
      .slider {
        margin: 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 10%;
        .dot {
          width: 10px;
          height: 10px;
          background: $blue;
          border-radius: 50%;
          opacity: 40%;
        }
        .selected {
          opacity: 100%;
        }
      }
    }
  }
}

.Slider {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
  button {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: white;
    color: $blue;
    cursor: pointer;
  }
  .middle {
    border-radius: 0px;
  }
  .left {
    border-radius: 20px 0px 0px 20px;
  }
  .right {
    border-radius: 0px 20px 20px 0px;
  }
  .selected {
    color: white;
    background: $blue;
  }
}

.Content {
  .heading {
    font-size: 32px;
  }
  .content {
    ul {
      list-style-type: none;
      font-size: 22px;
      text-align: left;
      li {
        .explain {
          font-size: 18px;
          margin-left: 40px;
        }
      }
    }
  }
}

.RedirectLinks {
  background-repeat: repeat;
  background-size: cover;
  padding-top: 30px;
  .container {
    margin: 0 10%;
    justify-content: center;
    min-height: 100vh;
  }
  .top {
    width: 100%;
    h1 {
      color: $blue;
      font-size: 3rem;
    }
    h3 {
      color: #474747;
      margin-top: 15px;
    }
  }
  section {
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
    width: 100%;
    background: white;
    border-radius: 40px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  article {
    p {
      margin-top: 15px;
      margin-right: 30%;
      color: #474747;
    }
    h4 {
      color: $blue;
    }
    h4:first-of-type {
      color: $green;
      margin-top: 10px;
    }
    button {
      margin-top: 15px;
    }
    button:disabled {
      cursor: not-allowed;
      color: lighten($color: $blue, $amount: 20);
    }
    .help {
      width: 50%;
      margin: 10px 0;
      display: flex;
      align-items: center;
      background: lighten($color: $blue, $amount: 35);
      border-radius: 20px;
      border: solid 1px $blue;
      padding: 20px;
      img {
        height: 40px;
        width: 40px;
        margin-right: 5px;
      }
    }
  }
  aside {
    img {
      width: 100%;
    }
  }
  .links {
    margin-top: 30px;
    border-radius: 40px;
    display: grid;
    padding: 20px 50px 10px 50px;
    background: white;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
    .link {
      margin-bottom: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      .name {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    padding: 0;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 4% 0 5% 0;
    .logo {
      margin-bottom: 4%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .links {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 15%;
    }
  }
  .Home {
    .circle-grid {
      position: absolute;
      left: -12%;
      z-index: -10;
      opacity: 80%;
      height: 100px;
    }
    .container {
      margin: 0;
      flex-direction: column;
      padding: 5%;
      .landing-img {
        display: none;
      }
      .left {
        margin: 8% 0;
        text-align: center;
        width: 80%;
        .landing-img-resp {
          display: block;
          width: 70vw;
          margin: 15% 0;
          margin-bottom: 15%;
        }
        .left-head {
          h2 {
            width: 100%;
            font-size: 35px;
          }
        }
      }
    }

    .container2 {
      .home-bg2 {
        top: 140vh;
        height: 500px;
        width: 100%;
      }
      .cards {
        display: flex;
        flex-direction: column;
      }
    }

    .container3 {
      .dot-grid {
        top: 482vh;
        left: 3%;
      }
      .head {
        margin-bottom: 20%;
      }
      .cards {
        display: flex;
        flex-direction: column;
        .card {
          width: 100%;
          .card-img {
            width: 100%;
          }
        }
      }

      .bubble2 {
        width: 100%;
        margin-left: -20px;
      }
    }

    .container4 {
      flex-direction: column;
      .right {
        img {
          position: absolute;
          top: relative;
          margin-top: -120%;
          z-index: -20;
          left: 0;
          opacity: 20%;
          width: 100%;
        }
      }
    }

    .container5 {
      padding: 10%;
      .bg-topright {
        margin-top: -9%;
        margin-right: -12%;
      }
      .bg-bottomleft {
        margin-top: -20%;
        margin-left: -12%;
      }
      .info-card {
        .head {
          margin: 8%;
          font-size: 12px;
          h4 {
            padding: 4%;
          }
        }
        .bottom {
          .avatar {
            flex-direction: column;
            width: 100%;
            text-align: center;
            img {
              height: 100px;
            }
            .designation {
              margin: 5% 0;
              margin-bottom: 0;
            }
          }

          .quote {
            text-align: center;
            margin: 10% 0;
            width: 100%;
          }
          flex-direction: column;
        }
      }

      .navigate {
        margin: 20% 0;
        .slider {
          width: 35%;
        }
      }
    }
  }

  .Footer {
    flex-direction: column;
    text-align: center;
    padding: 10% 5% 0 5%;
    .left {
      img {
        width: 100%;
      }
      .copyright {
        font-size: 18px;
        width: 95%;
        margin: auto;
      }
    }
    .right {
      margin: 10% auto;
      width: 100%;
      .links {
        padding: 0;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        grid-gap: 8%;

        a {
          font-weight: 300;
        }
      }
    }
  }
}
